<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>

    <header>
        <!-- <img class="logo" src="../imagens/africa.png" alt=""> -->
        <nav>
            <ul class="navlinks">
                <li class="voltar"><a href=""><img id="headicon" src="Images/icones/voltar.png" alt=""></a></li>
                <li class="home1"><a href="home"><img id="headicon" src="Images/icones/home.png" alt=""></a></li>
                <li class="login"><a href="login"><img id="headicon" src="Images/icones/user.png" alt=""></a></li>
                <input type="search" id="hearicon-pesquisa" class="search">
                <!-- <a class="eta" href="#"><button>contact</button></a> -->
            </ul>
        </nav>

    </header>
    <div class="caixa1">
        <div id="caixa2">
            <div class="caixa3">
                <div >
                    <picture><img id="icon" src="Images/icon.png" alt=""></picture>
                </div>
                
                <label class="switch">
                    <input type="checkbox" onclick="flip()">
                    <span class="slider round"></span>
                </label>
                <div id="MenuID">
                    <ul id="nav">
                        <button class = "fundo1" onclick="red('/home')"><img class="icones" src="Images/icones/home.png" alt="">home</button>
                        <button class = "fundo1" onclick="red('/registro')"><img class="icones" src="Images/icones/computador.png" alt="">jogos</button>
                        <button class = "fundo1" onclick="red('/login')" ><img class="icones" src="Images/icones/fav.png" alt="">favoritos</button>
                    </ul>
                </div>
                <form action="/home" method="post" id="FormID">

                    <label for="cpu_input" >Processador</label>
                    <!-- <input list="cpu_inputs" name="cpu_input" id="cpu_input"> -->
                    <select id="cpu_input" name="cpu_input">
                        <% processadores.forEach(item => { %>
                          <option value="<%= item.id %>"><%= item.nome %></option>
                        <% }); %>
                    </select><br>

                    <label for="gpu_input" >Placa de vídeo</label>
                    <!-- <input list="gpu_inputs" name="gpu_input" id="gpu_input"> -->
                    <select id="gpu_input" name="gpu_input">
                        <% GPUs.forEach(item => { %>
                          <option value="<%= item.id %>"><%= item.nome %></option>
                        <% }); %>
                    </select><br>

                    <label for="inputRAM" >Memória RAM</label>
                    <input name= "ram_input" autocomplete="off" id="inputRAM" type="number" placeholder="GB"><br>

                    <label for="inputArmazenamento" >Armazenamento</label>
                    <input name= "armazenamento_input" autocomplete="off" id="inputArmazenamento" type="number" placeholder="GB"><br><br>

                    <input id="computadorsubmit" type="submit">
                </form>
            </div>
        </div>

        
        <div class="jogos">
            
            <% for(let jogo of jogos ) { %>
            <div class="jogos-item">
                <div class="jogos-image">
                    <img src="<%= jogo.imagem %>" alt="">
                    <!-- <div class="black">.</div> -->
                </div>
                <div class="jogos-info">
                    <h2 class="name-jogo"><%= jogo.nome %></h2>
                    <div class="botao-foda">
                        <button class="botao" onclick="chamartela('<%= jogo.id %>')">Informações</button>
                        <form action="/Favorito" method="post" id="estrelaid">
                            <input type="text" value='<%= jogo.id %>' style="display:none;">
                            <input type="text" value='<%= pc_usuario.UsuarioID %>' style="display:none;">
                            <input type="image" alt="Submit" class="botao favorito" src="Images/icones/estrelavazia.png" title="favoritar">
                        </form>
                    </div>
                </div>
                <div class="jogos-content">


                </div>
                <!-- <div class="black">.</div> -->
            </div>
            <% } %>
        </div>
    </div>
    <!-- <script src="/scripts/swiper-bundle.min.js"></script>
    <script src="/scripts/carrosel.js"></script> -->
    <script>
    
        let hasFLip = true
        document.getElementById('FormID').style = 'display: none;'
        document.getElementById('cpu_input').value              = '<%= pc_usuario.CPUID %>'
        document.getElementById('gpu_input').value              = '<%= pc_usuario.GPUID %>'
        document.getElementById('inputRAM').value              = '<%= pc_usuario.RAM %>'
        document.getElementById('inputArmazenamento').value    = '<%= pc_usuario.Armazenamento %>'

        function chamartela(idjogo){
            window.location.href = "/jogo/"+ idjogo
        }
        function red(tela){
            window.location.href = tela
        }
        function flip(){

            if (hasFLip){
                document.getElementById('FormID').style = 'display: block;'
                document.getElementById('MenuID').style = 'display: none;'
            }else{
                document.getElementById('FormID').style = 'display: none;'
                document.getElementById('MenuID').style = 'display: block;'
            }

            hasFLip = !hasFLip
        }

    </script>
</body>
</html>