<link rel="stylesheet" href="/css/CssHome.css">
<link rel="stylesheet" href="/css/style.css">

<div class="navbar">
    <a href="/home">Página Inicial</a>
    <a href="/favorito">Favoritos</a>
    <button onclick="openDialog()"><img class="icones" src="/Images/icones/computador.png" alt=""></button>
    <a href="#">Como Usar</a>
    <a href="/usuario">Conta</a>
</div>

<dialog id='CadastroPC'>
    <div class="cadastroDoPc">
        <form action="/home" method="post">
            <label for="cpu_input" >Processador</label>
            <!-- <input list="cpu_inputs" name="cpu_input" id="cpu_input"> -->
            <select id="cpu_input" name="cpu_input">
                <% processadores.forEach(item => { %>
                    <option value="<%= item.PecaID %>"><%= item.PecaDescricao %></option>
                <% }); %>
            </select><br>
            <label for="gpu_input" >Placa de vídeo</label>
            <!-- <input list="gpu_inputs" name="gpu_input" id="gpu_input"> -->
            <select id="gpu_input" name="gpu_input">
                <% GPUs.forEach(item => { %>
                    <option value="<%= item.PecaID %>"><%= item.PecaDescricao %></option>
                <% }); %>
            </select><br>
            <label for="inputRAM" >Memória RAM</label>
            <input name= "ram_input" autocomplete="off" id="inputRAM" type="number" placeholder="GB"><br>
            <label for="inputArmazenamento" >Armazenamento</label>
            <input name= "armazenamento_input" autocomplete="off" id="inputArmazenamento" type="number" placeholder="GB"><br><br>
            <div class="enviarEfechar">
                <input class="abacate" id="computadorsubmit" type="submit">
                <button class="abacate" onclick="fecharDialog()">Fechar</button>
            </div>
        </form>
    </div>
</dialog>

<script>
        document.getElementById('cpu_input').value              = '<%= pc_usuario.CPUID %>'
        document.getElementById('gpu_input').value              = '<%= pc_usuario.GPUID %>'
        document.getElementById('inputRAM').value              = '<%= pc_usuario.RAM %>'
        document.getElementById('inputArmazenamento').value    = '<%= pc_usuario.Armazenamento %>'
</script>


<script src="../scripts/TelaHome.js" defer ></script>