<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Images/logo/logobrancocirculo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/stylelogin.css">
    <title>Conta</title>
</head>


<body>

    <%- include('header.ejs') %>

    <section class= "registro">
        <div class="caixa__login">
            <form action="/registro" method="post">
                <h2>Informações</h2>

                <input id="idid" name="id" type="text" autocomplete="off" hidden />
                <div class="caixa__login-input">
                    <input id="idnome" name="nome" type="text" autocomplete="off" required  disabled/>
                    <label>Nome</label>
                </div>
                <div class="caixa__login-input">
                    <input id="idemail" name = "email"type="email" autocomplete="off" required disabled/>
                    <label>Email</label>
                </div>
                <div class="caixa__login-input">
                    <input id="ididade" name= "idade" type="date" autocomplete="off" required />
                    <label>Nascimento </label>
                </div>
                <div class="caixa__login-input">
                    <div>
                        <input id="idsenha" name="senha" type="password" autocomplete="off" required disabled/>
                        <img class="imgolho" onclick="togglePassword()" src="Images/icones/eye.png">
                    </div>
                    <label>Senha</label>
                </div>

                <div class="caixa__login-input">
                    <input name="Confirmasenha" type="password" autocomplete="off" />
                    <label>Nova senha</label>
                </div>
                <input id="acesso" class="p-button" type="submit">
            </form>
        </div>
    </section>
    <script src="../scripts/TelaHome.js" defer ></script>
    <script defer>
        function togglePassword() {
            var senhaInput = document.getElementById("idsenha");
            
            // Verifica se o tipo da senha é "password"
            if (senhaInput.type === "password") {
                senhaInput.type = "text"; // Se sim, altera para "text" (mostra a senha)
            } else {
                senhaInput.type = "password"; // Se não, altera para "password" (esconde a senha)
            }
        }


        document.getElementById('idid').value    = '<%= user.id %>'
        document.getElementById('idnome').value    = '<%= user.nome %>'
        document.getElementById('idemail').value   = '<%= user.email %>'
        const DataCompleta = '<%= user.idade %>'
        var Data = DataCompleta.substring(0,DataCompleta.indexOf('T'))
        document.getElementById('ididade').value   = Data
        document.getElementById('idsenha').value    = '<%= user.senha %>'

    </script>
</body>
</html>